.car-main {
  position: relative;
  top: -30px;
  width: 1300px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

.car-container {
  height: 600px;
  display: flex;
  gap: 100px;
}

.img-size {
  background-image: none !important;
  max-width: 500px;
  height: 600px;
  min-width: 500px;
  border-radius: 10px;
}

img {
  mix-blend-mode: darken;
}

.right-side {
  margin-top: 80px;
  text-align: left;
}

.price-rating {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.price {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.price:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: all 0.2s ease-in;
}

.cate {
  background-color: coral;
  padding: 4px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}

.des {
  margin-top: 30px;
}
